@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

body.lock {
  overflow: hidden; }

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  left: 0;
  background-color: #85675d; }
  .header__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px; }

.menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .menu__list li {
    padding: 0 37.5px;
    position: relative; }

.menu__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.6px; }
  .menu__link:after {
    content: '';
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 0%;
    height: 2px;
    bottom: -10px;
    left: 37.5px;
    position: absolute;
    background-color: #ffffff; }
  .menu__link:hover:after {
    width: 40%; }

@media (max-width: 895px) {
  .menu__list li {
    padding: 0 25px; }
  .menu__link:after {
    left: 25px; } }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -1000px;
    left: 0;
    background-color: rgba(133, 103, 93, 0.9);
    padding: 50px 0 0 0;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .menu__body.active {
      top: 0; }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__list li {
      padding: 0 0 50px 0; }
  .menu__link {
    font-size: 20px; }
    .menu__link:after {
      content: '';
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      width: 0%;
      height: 2px;
      bottom: 35px;
      left: 0px;
      position: absolute;
      background-color: #ffffff; }
    .menu__link:hover:after {
      width: 100%; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .icon-menu span:first-child {
        top: 0; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0; }
    .icon-menu.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      .icon-menu.active span:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px; }
      .icon-menu.active span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 7px; } }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .main-screen__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    position: absolute;
    height: auto;
    width: 100%;
    padding-top: 250px;
    padding-left: 60px; }
    .main-screen__row h1 {
      font-size: 40px;
      letter-spacing: 0.05em;
      line-height: 1.5em;
      color: #fff; }
      .main-screen__row h1 span {
        font-size: 60px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 80px; }
  .main-screen__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80%;
    flex: 0 1 80%; }

.content .title_block {
  text-align: center;
  padding: 50px 0; }
  .content .title_block h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px 0; }

.content .title_text {
  color: #777777; }

.content .about_me {
  padding-bottom: 50px;
  background: #e6e6e6; }
  .content .about_me__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    padding-top: 40px; }
  .content .about_me__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    text-align: center; }
    .content .about_me__column_b {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
      flex: 0 1 66.667%;
      text-align: right; }
    .content .about_me__column h3 {
      font-size: 20px;
      font-weight: 800;
      margin: 0 0 10px 0; }
    .content .about_me__column p {
      line-height: 1.2em;
      letter-spacing: 0.04em;
      color: #222; }
  .content .about_me-rev .about_me__column {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    .content .about_me-rev .about_me__column_b {
      text-align: left;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }

.content .portfolio {
  background: #e6e6e6;
  /* Лента слайдов */
  /*Конкретный слайдер*/ }
  .content .portfolio__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    padding-bottom: 60px; }
  .content .portfolio .slick-list {
    overflow: hidden; }
  .content .portfolio .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .content .portfolio .slider {
    position: relative;
    padding: 0 50px; }
    .content .portfolio .slider__item {
      padding: 0 50px;
      text-align: center; }
      .content .portfolio .slider__item_wrap {
        position: relative;
        width: 300px; }
      .content .portfolio .slider__item img {
        width: 300px;
        height: 300px; }
      .content .portfolio .slider__item:hover .slider__hidden {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        cursor: pointer; }
    .content .portfolio .slider__hidden {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 40%;
      color: #fff; }
      .content .portfolio .slider__hidden h3 {
        margin-bottom: 10px; }
      .content .portfolio .slider__hidden a {
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        color: #fff;
        font-size: 14px;
        text-decoration: underline; }
        .content .portfolio .slider__hidden a:hover {
          color: #c2c2c2; }
    .content .portfolio .slider .slick-arrow {
      position: absolute;
      top: 45%;
      margin: -40px 0 0 0;
      z-index: 10;
      font-size: 0;
      width: 30px;
      height: 55px; }
    .content .portfolio .slider .slick-arrow.slick-prev {
      left: 0;
      background: url(../img/sl-arrow_l.svg) 0 0/100% no-repeat; }
    .content .portfolio .slider .slick-arrow.slick-next {
      right: 0;
      background: url(../img/sl-arrow_r.svg) 0 0/100% no-repeat; }
    .content .portfolio .slider .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px; }
    .content .portfolio .slider .slick-dots li {
      margin: 0 10px; }
    .content .portfolio .slider .slick-dots li.slick-active button {
      background: transparent;
      border: 2px solid #85675d; }
    .content .portfolio .slider .slick-dots li button {
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: #85675d;
      border-radius: 50%; }

.footer {
  background-color: #85675d;
  padding: 20px 0;
  color: #fff; }
  .footer__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px; }
  .footer__contact-me {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.667%;
    flex: 0 1 66.667%; }
    .footer__contact-me a {
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      color: #fff;
      font-size: 30px;
      padding: 15px; }
  .footer__copyright {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    text-align: right; }
